{% extends '_base.html' %}
{% load static %}

{% block title %}
  PyScript
{% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script type="module" src="https://pyscript.net/snapshots/2023.11.1.RC3/core.js"></script>

{% endblock %}

{% block content %}


<section class="pyscript">
  <py-tutor modules="./todo.py">
      <py-config>
      </py-config>
      <script type="py" src="{% static 'python/calculator.py' %}"></script>
  </py-tutor>


<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="calculator">
              <div class="calculator-screen">
                  <input type="text" class="form-control" id="display" disabled>
              </div>
              <div class="form-text" id="expressionString"></div>
                </div>
              <div class="calculator-buttons">
                  <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn1" value="1" py-click="enter_number">1</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn2" value="2" py-click="enter_number">2</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn3" value="3" py-click="enter_number">3</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-danger mb-2" id="btnClear" py-click="clear_memory">C</button>
                      </div>
                  </div>
                  <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn4" value="4" py-click="enter_number">4</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn5" value="5" py-click="enter_number">5</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn6" value="6" py-click="enter_number">6</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-warning mb-2" id="btnPlus" value="+" py-click="enter_operand">+</button>
                      </div>
                  </div>
                  <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn7" value="7" py-click="enter_number">7</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn8" value="8" py-click="enter_number">8</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn9" value="9" py-click="enter_number">9</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-warning mb-2" id="btnMinus" value="-" py-click="enter_operand">-</button>
                      </div>
                  </div>
                  <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                          <button class="btn btn-primary mb-2" id="btn0" value="0" py-click="enter_number">0</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-warning mb-2" id="btnMultiply" value="*" py-click="enter_operand">*</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-warning mb-2" id="btnDivide" value="/" py-click="enter_operand">/</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-success mb-2" id="btnEquals" py-click="calculate">=</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  
{% endblock %}
