{% extends '_base.html' %}

{% block title %}
  Character List
{% endblock %}

{% block content %}
  <style>
    /* Add CSS styles for circular images */
    .character-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%; /* Creates a circular clipping mask */
      object-fit: cover; /* Maintains the image aspect ratio and crops as needed */
    }
  </style>

  <h1>Character List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      {% for character in character_list %}
        <tr data-href="{% url 'character_detail' character.pk %}" style="cursor: pointer;">
          <td>
            {% if character.photo %}
              <!-- Use the 'character-photo' class for circular images -->
              <img src="{{ character.photo.url }}" alt="{{ character.name }}" class="character-photo" />
            {% else %}
              <!-- Display a placeholder image or default content -->
            {% endif %}
          </td>
          <td>{{ character.name }}</td>
          <td>{{ character.race }}</td>
          <td>{{ character.character_class }}</td>
          <td>{{ character.level }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const tableRows = document.querySelectorAll('tr[data-href]')
      tableRows.forEach((row) => {
        row.addEventListener('click', function () {
          window.location.href = row.getAttribute('data-href')
        })
      })
    })
  </script>
{% endblock %}
